h1 {
    color: rgb(10, 9, 9);
    text-align: center;
    text-decoration: wavy;
    font-weight: 900;
}

.links {
    color: rgb(2, 2, 33);
    text-align: center;
    font-size: smaller;
}

.thirdblock {
    background-color: bisque;
    padding: 2%;
    text-align: center;
}

header {
    padding: 1%;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: brown;
    text-transform: capitalize;
    text-align: center;
    font-size: large;
    padding: 2%;
}

h3 {
    text-align: center;
    
}

.second-block {
    background-color: bisque;
}

.first-block {
    background-color: rgb(248, 197, 136);
    font: bolder;
    font-family: kodo-mono;
}

.footer-class {
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    flex: 3;
    background-color: rgb(248, 197, 136);
}

.clips-block a {
    text-decoration: none;
}