h1 {
    color: rgb(10, 9, 9);
    text-align: center;
    font-weight: 900;
    font-family: 'kode mono';
}

header {
    padding: 1cm 0;
}

nav {
    color: rgb(2, 2, 33);
    text-align: center;
    font-size: smaller;
}

.headshot {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.dark-block {
    background-color: rgb(248, 197, 136);
    font: bolder;
}

.light-block {
    background-color: bisque;
    padding: 2%;
    text-align: center;
}

section {
    padding: 1cm 0;
}

h2 {
    color: brown;
    text-align: center;
    font-size: xx-large;
    padding: 2%;
    font-family: 'kode mono';
}

h3 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



footer {
    text-align: center;
    background-color: rgb(248, 197, 136);
    padding: 1cm 0;
}

.clips-block a {
    text-decoration: none;
    background-color: bisque;
}