body {
    font-family: 'kode mono';
    background-color: rgb(241, 243, 245);
    color: black;
    font-size: 15px
}

header {
    background-color: rgba(33, 17, 0, 0.93);
}


h1 {
    text-transform: capitalize;
    font-weight: 900;
    color: floralwhite;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    padding: 2%;
    font-size: large
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: medium;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: small;
    padding: 3%;
}

h1 {
    font-weight: 1000;
}

a {
    color: rgba(122, 107, 130, 0.707);
    text-decoration: none;
}

header {
    text-align: center;
}

nav a {
    font-size: smaller;
    padding: 1%;
    color: ghostwhite;
    text-align: center;
}

.second-block {
    background-color: rgba(93, 49, 2, 0.59);
    color: azure;
    text-align: center;
}

h3 {
    font-size: smaller;
    padding: 1%;
}

footer {
    background-color: rgba(172, 96, 14, 0.59);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}