header {
        font-family: "Abel", sans-serif;
        font-weight: 400;
        font-style: normal;
  text-shadow: 5px 5px 10px #5d5e4f;
    padding: 30% 5%;
    text-align: center;
    background-image: url('images/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
 }

 .abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
h1 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 8em;
}


h2 {
    font-family: "Abel", sans-serif;
    color: white; font-size: 1.1em;
}
p{font-size: 16px; font-family: "Roboto", sans-serif; color: white; padding: 1%;}
 .image-container {
    position: relative;
    padding: 2%;
    display: inline-block;
 }

 body {
    padding-top: 5%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    padding-bottom: 5%;
 }

 .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
 }

.image {
    width: 100%;
    height: auto;
}


.image-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-column img {
    max-width: 100%;
}

.container-fluid {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:#F9F1E5;
    color: black;
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
}

h3 {
  font-family: "Abel";
  letter-spacing: -1.2px;  
  padding: 5%;
  text-align: center;
}

.custom-link {
    color: #E18D58;
}

